%header
  %div.nav
    %div.logo
      = link_to image_tag("logo.png", alt: "Rails logo")
    %div.h1
      = 'Experteese in Ruby_on_Rails'
    %ul.links
      %li
        =link_to  t('.help'), main_help_path
      %li
        =link_to 'о проекте', main_about_path
        %p.locale
        -#.ru_link
        = link_to image_tag("Russia.jpg", alt: "",  style: "width: 10%; height: 80%", title: "Русский" ), locale: :ru
        = link_to image_tag("United_Kingdom.jpg", alt: "",  style: "width: 10%; height: 80%", title: "English"), locale: :en
        %b
          = I18n.locale
